html, body {
    text-align: center;
    font-size: xx-large;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /* 100-900 */
    font-style: normal;
    font-variation-settings: "slnt" 0;

    background-color: black;
    color: white;
}

span {
    background: -webkit-linear-gradient(45deg, #0b00e4, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
